table {
  border-collapse: collapse;
}

tr {
  user-select: none;
  transition: all 100ms ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.is-even {
    background-color: lightcyan;

    &:hover {
      background-color: rgb(212, 251, 251);
    }
  }

  &.is-odd {
    background-color: lightblue;
    &:hover {
      background-color: rgb(160, 209, 226);
    }
  }

  &.selected {
    background-color: yellow;

    &:hover {
      background-color: rgb(241, 241, 3);
    }
  }
}

th,
td {
  text-align: left;
  margin: 0 2px;
  padding: 8px 16px;
}

th {
  background-color: rgb(42, 138, 170);
  color: white;
}
